<div class="min-h-screen">
    <div id="contentHeader" class="font-headerBold text-6xl font-extrabold">
        <p class="animate-header-animation">
            {{heading}}
        </p>
    </div>
    <div id="contentwrapper" class="">
    <div id="content" class="justify-between px-8 font-body">
            {{ content | safe }}
    </div>
    </div>
</div>