<div id="contentHeader" class="flex font-headerBold text-6xl font-extrabold animate-typewriter overflow-hidden whitespace-no-wrap">
    {{heading}}
    <div class="p-6">
    <div class="flex h-14 border-b-4 border-black animate-nextkey"></div>
    </div>
</div>